version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: bellas_artes_db
    environment:
      - POSTGRES_DB=bellas_artes
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=bellasartes_secret
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  web:
    build: .
    container_name: bellas_artes_api
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always

volumes:
  postgres_data: